.cartContainer {
  margin: 15px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  align-items: center;
}
.cartContainer button {
  background-color: transparent;
  border: none;
}
.cartBtns {
  display: flex;
  justify-content: space-between;
}
.cartBtns span {
  font-weight: 600;
}
.addToCartContainer {
  margin: 15px;
  padding: 18px;
  background-color: rgb(255, 144, 18);
  border-radius: 10px;
}
.btnAddToCart {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.btnAddToCart span {
  font-weight: 600;
}
.btnPointer1 {
  cursor: pointer;
  align-items: center;
  padding-bottom: 5px;
}
.btnPointer2 {
  cursor: pointer;
  align-items: center;
  padding-top: 3px;
}
.cartMain {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .cartMain {
    flex-direction: row;
  }
  .cartContainer {
    padding: 0;

    min-width: 180px;
  }
  .cartBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
  }
  .btnPointer1:hover,
  .btnPointer2:hover {
    opacity: 0.5;
  }
  .addToCartContainer {
    padding: 0;
  }

  .btnAddToCart {
    width: 250px;
    height: 60px;
    cursor: pointer;
  }
  .addToCartContainer:hover {
    background-color: rgb(255, 173, 80);
  }
}
@media (min-width: 1024px) {
  .cartMain {
    flex-direction: row;
  }
  .cartContainer {
    padding: 0;

    min-width: 180px;
  }
  .cartBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
  }
  .btnPointer1:hover,
  .btnPointer2:hover {
    opacity: 0.5;
  }
  .addToCartContainer {
    padding: 0;
  }

  .btnAddToCart {
    width: 250px;
    height: 60px;
    cursor: pointer;
  }
  .addToCartContainer:hover {
    background-color: rgb(255, 173, 80);
  }
}
