@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h4 {
  letter-spacing: 2px;
  color: gray;
}
p {
  color: gray;
}

#next.on {
  background-color: #e0e0e0;
  color: #9e9e9e;
  opacity: 0.6;
  cursor: not-allowed;
}
#previous.on {
  background-color: #e0e0e0;
  color: #9e9e9e;
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 1024px) {
  .header {
    padding: 16px 4.5rem;
  }
}
@media (min-width: 1800px) {
  .header {
    padding-left: 300px;
    padding-right: 300px;
  }
}
