@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
/* HEADER */
.menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 500px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 2px;
}
.logo {
  padding-right: 90px;
  padding-bottom: 4px;
  cursor: initial;
}
/* ////////////////////// */

/* MAIN */
.images-main {
  position: relative;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}
.btns {
  position: relative;
  width: 100%;
  margin-top: -50px;
}
.images {
  width: 100%;
  max-width: 425px;
}

.btnPrevious {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: unset;
  right: 4%;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
h4 {
  letter-spacing: 2px;
  color: gray;
}
.titleAndText {
  padding: 0 20px;
}
p {
  color: gray;
}
.promotion50 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  background-color: black;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  margin-top: 5px;
}
.prices {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-between;
}
.priceAndPromotion {
  display: flex;
  gap: 20px;
}
.price125 {
  font-weight: 700;
  font-size: 2rem;
}
div.promotion50 span {
  color: white;
}
.discount250 {
  color: gray;
  text-decoration: line-through;
  font-weight: 700;
  padding-top: 9px;
}
.cartContainer {
  margin: 15px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  align-items: center;
}
.cartContainer button {
  background-color: transparent;
  border: none;
}
.cartBtns {
  display: flex;
  justify-content: space-between;
}
.cartBtns span {
  font-weight: 600;
}
.addToCartContainer {
  margin: 15px;
  padding: 20px;
  background-color: rgb(255, 144, 18);
  border-radius: 10px;
}
.btnAddToCart {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.btnAddToCart span {
  font-weight: 600;
}
#next.on {
  background-color: #e0e0e0;
  color: #9e9e9e;
  opacity: 0.6;
  cursor: not-allowed;
}
#previous.on {
  background-color: #e0e0e0;
  color: #9e9e9e;
  opacity: 0.6;
  cursor: not-allowed;
}
