.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 3rem 5rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
